<header class="site-header">
	<div class="container container_header">
		<div class="logo"><img src="images/logo.png" alt="" class="logo__img"></div>
		<div class="header-main">
			<div class="header-main__top">
				<form action="" class="search-form">
					<button class="search-form__button"></button>
				</form>
				<div class="phones-dropdown">
					<div class="phones-dropdown__current">
						<a href="tel:380631543556" class="phones-dropdown__link">+38 063 154 35 56</a><i class="icon-arrow-down"></i>
					</div>
				</div>
				<div class="login">
					<a href="#" class="login__link">Мій кабінет</a>
				</div>
				<div class="language-dropdown">
					<div class="language-dropdown__current">
						<a href="#" class="language-dropdown__link">UA</a><i class="icon-arrow-down"></i>
					</div>
				</div>
			</div>
			<div class="header-main__bottom">
				<nav class="primary-nav">
					<ul class="primary-nav__list">
						<li class="primary-nav__item primary-nav__item_hasdrop"><a href="#" class="primary-nav__link">продукція</a></li>
						<li class="primary-nav__item primary-nav__item_hasdrop"><a href="#" class="primary-nav__link">готові рішення</a></li>
						<li class="primary-nav__item primary-nav__item_hasdrop"><a href="#" class="primary-nav__link">підтримка</a></li>
						<li class="primary-nav__item primary-nav__item_hasdrop"><a href="#" class="primary-nav__link">система</a></li>
						<li class="primary-nav__item primary-nav__item_hasdrop"><a href="#" class="primary-nav__link">контакти</a></li>
					</ul>
				</nav>
				<div class="shopping-cart">
					0 шт
				</div>
			</div>
		</div>
	</div>
</header>